apiVersion: v1
kind: Service
metadata:
  name: connection-tester-service
  labels:
    app: connection-tester
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: connection-tester
