# .github/workflows/sync-to-org.yml
name: Sync to Organization Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    # Only run this job in YOUR personal repo, not in the org mirror
    if: github.repository == 'pybern/ep'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Organization Repo
        run: |
          git remote add org https://x-access-token:${{ secrets.ORG_REPO_PAT }}@github.com/nggdim/ep.git
          git push org main --force
